{% load post_filters %} 

<div class="card mb-3 mt-1 ">
    {% load thumbnail %}
    {% thumbnail post.image "800x300" crop="center" upscale=True as im %} 
        <a href="{{ post.image.url }}">
            <img class="card-img img-thumbnail" src="{{ im.url }}" >
        </a>
    {% endthumbnail %} 
        <div class="card-body">    
            <h4> 
                {% if not author %}  
                    <a href="{% url 'profile' post.author.username %}">{{ post.author.get_full_name }}</a> 
                {% endif %}     
                {% if not post.group is None %}
                        в сообществе <a href="{% url 'group_posts' post.group.slug %}"> {{ post.group.title }} </a>  
                {% endif %} 
                {{ post.pub_date|date:"d M Y" }}  
                
                    {% if post.comments_count %}   
                        {% if post.comments_count > 0 %}  
                         + {{ post.comments_count }} 
                        {% endif %} 
                    {% endif %} 
                </h4> 
                {% if query %}           
                    <p>{{ post.text|linebreaksbr|hashtag|search_result:query }}</p>   
                {% else %}
                    <p>{{ post.text|linebreaksbr|hashtag}}</p>
                {% endif %}        
                
                <a class="btn btn-outline-secondary btn-sm" aria-pressed="true" href="{% url 'post' post.author.username post.id %}"  role="button"><i class="bi-book"></i> </a> 
                {% if user.is_authenticated %} 
                    {% if user.username == post.author.username %}
                        <a class="btn btn-outline-secondary btn-sm" aria-pressed="true" href="{% url 'post_edit' user.username post.id %}" role="button">
                             <i class="bi-pencil-square"></i> 
                        </a>             
                        <a class="btn btn-outline-secondary btn-sm" aria-pressed="true" href="{% url 'post_delete' user.username post.id %}" role="button" 
                        onclick="return confirm('Удалить публикацию?');" >
                             <i class="bi-trash"></i> 
                        </a>   
                     
                    {% else %}             
                        {% if not user|post_saved:post.id %}
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'save_post' post.id %}" role="button"> <i class="bi-bookmark"></i> </a>
                        {% else %}             
                            <a class="btn btn-secondary btn-sm" href="{% url 'remove_post' post.id %}" role="button"> <i class="bi-bookmark"></i> </a>
                        {% endif %}                    
                    {% endif %} 
                {% endif %} 
                
    </div>
    </div>

 
<!-- Добавьте модальное окно после открывающего тега body-->
<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">Просмотр изображения</div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         
        </div>
        <div class="modal-body">  
           <img class="img-fluid" src=""  alt="">
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
<script>
 
    
    $(function() {     
     
      $('a.thumbnail').click(function(e) {
        e.preventDefault();

        $('#image-modal .modal-body img').attr('src', $(this).find('img').attr('src'));
        $("#image-modal").modal('show');
      });
      $('#image-modal .modal-body img').on('click', function() {
        $("#image-modal").modal('hide')
      });
    });
    </script>
 